.mcard {
    margin-top: 50px;
    margin-left: auto; 
    margin-right: auto; 
    cursor:pointer;
    transition:all .4s ease-in-out;
    margin-bottom: 20px;
}
.mcard:hover {
    transform:scale(1.05);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.mcardheader
{
    border-radius: 50% !important;
    width: 75px;
    height: 75px;
    margin-top: -25px;
    border: 0 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0 !important;
}

.mcardtitle
{
    margin-top: -68px;
}

.mcardtext
{
    text-align: left !important;
}
.ico {
    position: relative;
    left: 13px;
    top: 5px;
}