@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


.container{

}
.container h3{
    font-family: 'Montserrat', sans-serif;
}
#form_action{
    border-radius:10px;
    box-shadow:0 3px 6px #8097FF, 0 2px 2px #C2C9C1;
    margin:0px 0px 10px 0px;
    overflow:hidden;
}
#form_action form{
    padding:15px;
}
#form_action input{
    margin:10px 0px 0px 0px;
}
#form_section #form10{
    margin:10px 0px 0px 0px;
}
i{
    /*border:1px solid black;*/
    border-radius:50px;
    padding:10px;
    background-image: linear-gradient(to right top, #ffffff, #f2f3f4, #e3e7e8, #d6dbda, #cbcfcb);
}
#button_sub{
  margin:5px 0px 10px 0px;
  
}
#button_sub button{
  border-radius:20px;
  width:150px;
  color:white;
  font-weight:bold;
  background-image: linear-gradient(to right top, #131ffb, #0083ff, #00afff, #00d1b5, #00ea5a);
  transition: transform 80ms ease-out;
  
}
#button_sub .btn:active{
   transform: scale(0.95);
}
#button_sub .btn:focus{
    outline: none;
}
#button_sub .btn:hover{
    background-image: linear-gradient(to right top, #20e159, #00caaf, #00abff, #0081ff, #131ffb);
}



img{
    height: 360px;
    border-radius: 10px;
   
}

.slider{
    height: 340px;
    
   
   
}

.masks{
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%,rgba(0, 0, 0, 0.863) 100%);
    
}

.topic
{ text-align: left;
    font-weight: bolder;  
}

.error_msg {
    color: red;
    font-weight: bold;
}

